Source: calamares-settings-ubuntu-gnome-remix
Maintainer: Dmitrii Safronov <zimniy@cyberbrain.cc>
Build-Depends: debhelper-compat (= 12)
Section: devel
Priority: optional
Standards-Version: 4.5.0

Package: calamares-settings-ubuntu-gnome-remix
Architecture: all
Depends: calamares-settings-ubuntu-common,
         ${misc:Depends}
Conflicts: calamares-settings-ubuntu-flavor
Provides: calamares-settings-ubuntu-flavor
Description: Ubuntu GNOME Remix Calamares Settings
 This package contains the Calamares settings for Ubuntu GNOME Remix.
 The settings ensure a proper Ubuntu GNOME Remix desktop is installed with the
 GNOME desktop environment.
